<footer>
    <a href="#" title="Inapoi sus!" id="link-top">
        <span id="sageata">↑</span>
    </a>
    
    <address>
        <ul>
            <li><i class="fa-solid fa-phone" style="color: #FFD43B;"></i> <a href="tel:+40799123432">Telefon: +40799123432</a></li>
            <li><i class="fa-solid fa-earth-americas" style="color: #FFD43B;"></i> <a href="https://maps.app.goo.gl/bQDk3ddJ2HQ2SRq28" target="_blank">Link catre locatie</a></li>
            <li><i class="fa-solid fa-envelope" style="color: #FFD43B;"></i> <a href="mailto:goldenbites@gmail.com">Contactati-ne prin email!</a></li>
            <li><i class="fa-solid fa-comment" style="color: #FFD43B;"></i> <a href="https://wa.me/40799123432" target="_blank">Contactează-ne pe WhatsApp</a></li>
        </ul>
    </address>
    <p><small>Copyright &copy;<time datetime="2025-01-03">2025</time> Oltean Dragos-Mihai</small></p>
</footer>