<title>Golden Bites</title>
<meta charset="UTF-8"><!-- codificarea în memorie a caracterelor-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- va fi explicat când ajungem la CSS -->
<meta name="author" content="Dragos-Mihai Oltean">  <!-- autorul/autoarea paginii-->
<link rel="icon" type="image/png" href="/resurse/imagini/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/svg+xml" href="/resurse/imagini/favicon/favicon.svg">
<link rel="shortcut icon" href="/resurse/imagini/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/resurse/imagini/favicon/apple-touch-icon.png">
<meta name="apple-mobile-web-app-title" content="Golden Bites">
<link rel="manifest" href="/resurse/imagini/favicon/site.webmanifest">
<link rel="stylesheet" type="text/css" href="/resurse/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/bca8d7dbbe.js" crossorigin="anonymous"></script>