<header>
    <img src="./resurse/imagini/logo/logonobg.png" width="100" height="100" usemap="#logomap" alt="[logo]">
    <map name="logomap">
        <area shape="rect" coords="0,0,100,100" href="#" alt="[Logo]">
    </map>
    <h1>Golden Bites</h1>
    <nav class="navbar">
        <ul>
            <li class="butoaneprincipale">
                <a href="#produse">Produse proaspete</a>
                <ol class="items">
                    <li><a href="#pui">Produse din pui</a></li>
                    <li><a href="#vita">Produse din vita</a></li>
                    <li><a href="#garnituri">Garnituri</a></li>
                    <li><a href="#deserturi">Deserturi</a></li>
                </ol>
            </li>
            <li class="butoaneprincipale">
                <a href="#meniuri">Meniuri</a>
                    <ol class="items">
                        <li><a href="#standard">Meniuri standard</a></li>
                        <li><a href="#speciale">Oferte speciale</a></li>
                    </ol>
            </li>
            <li class="butoaneprincipale">
                <a href="#bauturi">Bauturi</a>
                <ol class="items">
                    <li><a href="#racoritoare">Bauturi racoritoare</a></li>
                    <li><a href="#cafea">Cafea</a></li>
                    <li><a href="#shakeuri">Shakeuri</a></li>
                </ol>
            </li>
            <li><a href="#">Acasa</a></li>
        </ul>
    </nav>
    
</header>