<header>
    <div>
        <img class="banner" src="/resurse/imagini/logo/logo.png" alt="[logo]">
    </div>
    <img src="/resurse/imagini/logo/logonobg.png" width="100" height="100" usemap="#logomap" alt="[logo]">
    <map name="logomap">
        <area shape="rect" coords="0,0,100,100" href="/" alt="[Logo]">
    </map>
    <h1 class="titlusite">Golden Bites</h1>
    <div id="burgermenunavbar">
        <input type="checkbox" id="burger-toggle">
        <label id="burgermenu" for="burger-toggle">
            <i class="fa-solid fa-bars fa-sm"></i>
        </label>
        <nav class="navbar">
            <ul>
                <li class="butoaneprincipale">
                    <span id="iconcasa"><i class="fa-solid fa-house fa-sm"></i></span>
                    <a href="/" id="butonacasa">Acasa</a>
                </li>
                <li class="butoaneprincipale">
                    <a href="/produse">Produse proaspete</a>
                    <ol class="items">
                        <li><a href="/pui">Produse din pui</a></li>
                        <li><a href="/vita">Produse din vita</a></li>
                        <li><a href="/garnituri">Garnituri</a></li>
                        <li><a href="/deserturi">Deserturi</a></li>
                    </ol>
                </li>
                <li class="butoaneprincipale">
                    <a href="/meniuri">Meniuri</a>
                        <ol class="items">
                            <li><a href="/standard">Meniuri standard</a></li>
                            <li><a href="/speciale">Oferte speciale</a></li>
                        </ol>
                </li>
                <li class="butoaneprincipale">
                    <a href="/bauturi">Bauturi</a>
                    <ol class="items">
                        <li><a href="/racoritoare">Bauturi racoritoare</a></li>
                        <li><a href="/cafea">Cafea</a></li>
                        <li><a href="/shakeuri">Shakeuri</a></li>
                    </ol>
                </li>
                <li class="butoaneprincipale">
                    <a href="/despre">Despre</a>
                </li>
            </ul>
        </nav>
    </div>
    
</header>